@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Stint+Ultra+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(#bbbbc4, #ddd);
    font-size: 12pt;
}
.logo{
    font-family: 'Sacramento', cursive;
}
.naver{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 10px;
    background-color: rgb(16, 143, 216);
    position: sticky;
    border-bottom: 2px solid #ec08e1;
}
.marg{
    padding: 0px 25px;
}
.lef{
    margin-right: 10px;
    color: #01fe87;
}
nav{
    flex: 1;
    text-align: right;
    margin-right: 15px;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    color: #ff523b;
    
}

nav ul li{
    display: inline-block;
    margin: 10px;
}
a{
    text-decoration: none;
    color:#01fe87;
    transition: 0.5s;
}
a:hover{
    color: #0cbac0;
}
p{
    color: rgb(240, 15, 210);
    font-family: 'Great Vibes', cursive;
}
h2{
    color: rgb(6, 240, 240);
    font-family: 'Oswald', sans-serif;
   
}

.animat{
    position: relative;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    display: hidden;
}

.animat::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vh #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
}
.container{
    max-width: 1080px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 7px 16px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    background: #563434;
    letter-spacing: 1px;
}
.butt{
    display: inline-block;
    background: #1518d8;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
    transition: 0.5s;
    width: 100%;
    text-align: center;
}
.butt:hover{
    background: #4e2485;
    letter-spacing: 1px;
}
.button{
    margin-left: 100px;
    margin-top: -40px;
}
.button .btn .bt{
    margin-top: 150px;
}
.header{
    background: #165153;
    border: 1px solid #ec08e1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.row{
    margin-top: 70px;
}
.categories{
    margin: 20px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 280px;
    padding: 10px;
    margin-bottom: 30px;
    width: 300px;
    height: 450px;
    background: rgb(137, 111, 230);
    border-radius: 5px;
    transition: 00.5s;
    border: 1px solid #0618b8;
}
.col-3:hover{
    transform: translateY(-12px);
    box-shadow: 0px 0px 10px #000;
}
.col-3 img{    
    width: 100%;
    align-items: center;
   
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.col-4{
    flex-basis: 30%;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
    background:  #1abc9c;
    border-radius: 5px;
    width: 300px;
    height: 450px;
    border: 1px solid #0618b8;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    margin-bottom: -50px;
    padding: 20px;
    font-family: 'Stint Ultra Condensed', cursive;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: rgb(7, 10, 218);
    font-size: normal;
    font-family: 'Oswald', sans-serif;
}
.col-4 p{
    font-size: 16px;
    color: rgb(231, 7, 231);
    font-family: 'Oswald', sans-serif;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-12px);
    box-shadow: 0px 0px 10px #000;
}
.offer{
    background-color: deepskyblue;
    margin-top: 80px;
    padding: 30px 0px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #ec08e1;
}
.col-02{
    flex-basis: 50%;
    min-width: 300px;
}
.col-02 img{
    padding: 0px;
    transition: 0.5s; 
    width: 90%;
}
.col-02 img:hover{
    transform: translateY(-30%) rotate(30deg);   
}
small{
    font-size: 14px;
    color: rgb(35, 4, 209);
    font-family: 'Great Vibes', cursive;
}
/*------testimonial------*/
.testimonial{
    padding-top: 50px;

}
.testimonial .col-3{
    text-align: center;
    padding-top: 40px 20px;
    cursor: pointer;
    transition: transform 0.5s;
    background-color: #7dd815;
    border-radius: 5px;
    border: 1px solid #0a07d6;
    width: 300px;
    height: 450px;
}
.testimonial .col-3 img{
    width: 100px;
    margin: 20px;
    border: 5px solid #e40808;
    border-radius: 50%;

}
.testimonial .col-3 img .img-1{
    width: 80px;
    border-radius: 50%;

}
.testimonial .col-3:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px #000;
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #0d10db;
}
.fa.fa-star{
    color: #0a07d6;
}
.col-3 p{
    font-size: 12px;
    color: #0618b8;
    margin: 12px 0;
    font-family: 'Great Vibes', cursive;
    /*font-family: 'Sacramento', cursive;
    font-family: 'Stint Ultra Condensed', cursive;*/
}
.testimonial .col-3 h3{
    font-weight: 600;
    color:rgb(8, 12, 235);
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-family: 'Stint Ultra Condensed', cursive; 
}
.top{
    margin-top: -80px;
    margin-left: 20px;
}

/*------footer------*/
footer{
    bottom: 10px;
    background: rgb(51, 48, 48);
    color: #d9d9d9;
    padding: 10px;
    margin-top: 10px;
    border-top: 2px solid #ec08e1;

}
.main-content{
    display: flex;
}
    

.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;

}
.box .content span{
    margin-top: 20px;
    padding-top: 10px;
    color: #1abc9c;
}
.box .content span a{
    color: #1abc9c;
    padding: 5px 2px;  
}
.box .content span a:hover{
    color: #15d835;
    box-shadow: 0 0 2px #fff;
}
form .text{
    font-size: bold;
    margin: 8px 0;
}
form .email  input {
    width: 100%;
    margin: 5px 0;
    color: #fff;
    border-radius: 5px;
    background: #224a57;
}
form .smg textarea{
    width: 100%;
    margin: 5px 0;
    color: #fff;
    border-radius: 5px;
    background: #224a57; 
}

.social-icons{
    display: flex;
    margin-top: 3.5rem;
}
.social-icons a{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #1abc9c, #149214);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: .3s;
}
.social-icons a:hover{
    transform: scale(1.05);
    background: #2e554d;
    border: 1px solid #fff;
}

hr{
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    color: #ec08e1;
}
footer .copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*-------media query for menu--------*/

@media only screen and (max-width: 760px){
    nav ul{
        position: absolute;
        top: 48px;
        right: 30px;
        background: #c43434;
        width: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
        border-radius: 5px;
        border: 1px solid #ce2a14;
        z-index: 10;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
        font-size: 14px;
        transition: 1s;
        padding: 2px 5px;
    }
    nav ul li a:hover{
        border: 1px solid #fff;
        padding: 2px 5px;
        border-radius: 50px;
        font-size: 14px;
       
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    
    
}

/*------all products page-----*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
    margin-bottom: -20px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ec08e1;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}


/*------single peoducts details------*/

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
    border: 1px solid #ff523b;
    background: #1abc9c;
    border-radius: 10px;
    padding: 5px;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10pxx;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
    border-radius: 5px;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.row-2 h1{
    margin: 0 auto;
    margin-bottom: 10px;
}
.kol{
    margin: 20px 0px;
}
.cont{
    padding: 20px ;
    border: 1px solid #14200f;
    border-radius: 10px;
    background-color: #ccff66;
    text-align: center;
    margin-top: 25px;
}
.cont h4{
    padding: 20px;
    text-align: center;
    color: #1518d8;

}
.cont h5{
    text-align: justify;
    color: #1518d8;
}
.but{
    display: inline-block;
    background: #dd5506;
    color: rgb(12, 34, 36);
    padding: 14px 10px;
    border-radius: 30px;
    transition: 0.5s;
    width: 100%;
    text-align: center;
    letter-spacing: 2px; 
}
.but:hover{
    box-shadow: 0 0 10px #000;
    transform: scale(0.9);
    transition: 0.5s;
}
.small h3{
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    color: #15d835;
    width: 80%;
    border-radius: 30px;
    background-color: #190aa1;
}
.box1{
    position: relative;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
  }
  @keyframes animate{
    0%{
      transform: perspective(1000px) rotateY(0deg);
    }
    100%{
      transform: perspective(1000px) rotateY(360deg);
    }
  }
  .box1 span{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) *45deg)) translateZ(140px);
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
  }
  .box1 span img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #190aa1;
  }
  .over{
   margin-bottom: 100px;
  }
  

/*----cart itms----*/

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
.cart-info img{
    box-shadow: 0 0 10px #000;
    width: 80px;
    height: 100px;
    margin-right: 10px;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 300px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/*------account page--------*/
.account-page{
    padding: 50px;
    background: #165153;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px;
    margin: auto;
    box-shadow: 0 0 10px #000;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #555;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
    margin-right: -10px;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px;
    margin-left: -2px;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #c2240f;
    height: 3px;
    margin-top:px;
    transform: translateX(100px);
    transition: 1s;
    z-index: 100px;
}
.marl{
    margin-left: 60px;
}



/*-----contact section------*/


/*-------media query for less then 600 screen size----*/
@media only screen and (max-width: 600px){
   .row{
       text-align: center;
   }
   .col-2 .col-3 .col-4{
       flex-basis: 110%;
   }
   .col-3 .col-4{
    width: 320px;
    height: 450px;
   }
   .single-product .row{
       text-align: left;
   }
   .single-product .col-2{
       padding: 20px 0;
   }
   .single-product h1{
   font-size: 26px;
   line-height: 22px;
   }
   .btn{
       margin-bottom: 10px;
       margin-top: 10px;
   }
   .cart-info p{
       display: none;
   }
   .button{
    margin: 0 auto;
   }
   .main-content .left .center .right{
       flex-basis: 100%;
   }
   .main-content{
    display: block;
   }
   
}



